.img-container {
  /* background-color: black; */
  /* height: 10px;
    width: 10px; */
  margin: 1rem;
}

body {
  background-image: url("./assets/images/mesa2.jpg");
}

.row {
  text-align: center;
}

.img-container img {
  max-width: 85px;
}

.tablero {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.grid-container-extremos {
  display: grid;
  margin-bottom: 1.7rem;
  /* background-color: cornsilk; */
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}


.grid-container-medios {
  margin-top: 1.7rem;
  display: flex;
  width: inherit;
  /* background-color: cornsilk; */
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.container-cartas {
  max-width: 127px;
  height: 188px;
  padding: 1.5rem;
  /* background-color: aqua; */
}

.tablero .imagen-central {
  position: absolute;
  z-index: 5;
  /* background-color: aliceblue; */
  /* margin-top: 35vh; */
  margin-left: 37%;
}

.container-cartas img {
  border-radius: 10px;
  max-width: 85px;
}

.container-cartas .img1 {
  position: absolute;
  z-index: 1;
}
.container-cartas .img2 {
  position: absolute;
  margin-top: 23px;
  margin-left: 14px;
  z-index: 2;
}
.container-cartas .img3 {
  position: absolute;
  margin-top: 46px;
  margin-left: 28px;
  z-index: 3;
}
.container-cartas .img4 {
  position: absolute;
  margin-top: 69px;
  margin-left: 42px;
  z-index: 4;
}

.container-cartas .img5 {
  position: absolute;
  margin-top: 92px;
  margin-left: 56px;
  z-index: 5;
}

* {
  box-sizing: border-box;
}
